/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #E8E8E9;}

.container {
    align-items: center;
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 100px;
}